@import 'var';

.main__container--card {
    --gap: 1rem;
    @media screen and (min-width: 800px) {
        max-width: 1000px;
        max-height: 540px;
        margin: calc(var(--gap) / 2) auto 4rem;
    }
    &--containerImg {
        position: relative;
        width: calc(100% - var(--gap));
        height: 50%;
        // overflow: hidden;
        @media screen and (min-width: 800px) {
            margin: 0;
            height: 100%;
            width: 70%;
            max-width: 600px;
        }
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            translate: -50% -50%;
            aspect-ratio: 16/8;
            transition-duration: 0.5s;
            @media screen and (min-width: 800px) {
                border-radius: 0.5rem;
                aspect-ratio: 16/10;
            }
        }
    }
    &--containerDesc {
        height: calc(50% - (var(--gap) / 2));
        width: 100%;
        margin: auto;
        display: flex;
        padding: 0.5rem;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 1rem;
        @media screen and (min-width: 800px) {
            width: 30%;
            height: 70%;
            border-radius: 2rem;
        }
        @media screen and (min-width: 1000px) {
            border-radius: 3rem;
            margin: auto;
        }
        h3 {
            margin-left: 1rem;
            color: $dark-text-color;
        }
        p {
            overflow-y: auto;
            margin-top: 1rem;
            // margin: 1rem 0 0 1rem;
            color: $dark-text-color;
            // height: 100%;
        }
    }
}