$max-size: 1300px;

$dark-bg-color: #1d1d1d;
$dark-gradient-pseudo: '29, 29, 29';
// $dark-bg-color: #333232;
$dark-text-color: #fff;

$light-bg-color: #e3e3e3;
$border-card-color: #555555;
$text-color: #fff;
$size-cube: 2rem;

$background-color-carousel: #3d3c3c;
